img{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 80px;
}
button{
border: 1px;
padding: 10px;
margin: 20px;
border-radius: 10px;


}
#mine{
float: right;
border-radius: 50px;
margin:  0;


}
div{
 display: block;
 /* text-decoration: none; */
 /* margin-left: 500px; */
 /* margin-top: 100px; */
 

}




input[type='text']{

    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border: 1px solid #cccccc;  
    width: 30%;
    padding: 5px;
text-align: center;
}

  h1{
    Float:right;
      border-radius: 50px;
    font-size: 10px;
     margin-right: 40px;
     
  }
  
    
  


  h2{
margin-bottom: 200px;
  }
  
.davy{
    margin-top: 100px;
}

.google-bottom {
    margin-top: 200px;
    background-color: #cccccc;
    padding:20px;
}
.google-bottom a{
    text-decoration: none;
    /* margin:5px; */
    color: blue;
    padding: 5px;

}
  
.footer-right a{
    float: right !important;
    margin-bottom: 20px;
   
    

}

.content-center a{
text-align: center;
/* text-decoration: none; */
text-decoration: none;
/* border-radius: 10px; */
color:red;
text-align: center;
margin-right: center;
}

.content-center{
    text-align: center;
}





